.form{
	float: left;
	padding: 25px;
}

h1{
	color: #362370;
}

#main{
	padding: 30px;
	border-color:  	#F0F0F0 ;
	float: left;
	background-color: 	#F0F0F0 ;
}

#login{
	background-color: #362370;
	width: 260px;
	height: 240px;
}

#register{
	width: 250px;
	height: 220px;
}

.box{
	width: 250px;
	height: 30px;
}

.submit-button{
	float: right;
	background: #0066A2;
	color: white;
	border-style: outset;
	border-color: #0066A2;
	height: 36px;
	width: 120px;
	font: bold 15px arial, sans-serif;
}

.f-pass{
	float: right;
	color: white;
	padding-left: 100px;
}

.checkbox-remember{
	float: left;
}

.rem-me{
	color: white;
}

.head{
	text-transform: uppercase;
}

#login-head{
	color: white;
	font-weight: bold;
}

#reg-head{
	font-weight: bold;
}

.text1{
	color:gray;
}

.text2{
	color: #362370;
}